body {
	padding: 3% 10%;
}

@media (min-width: 1070px) and (min-height: 650px) {
	body {
		overflow: hidden;
		position: fixed;
	}
}	

.user-pic {
	width: 100px;
}

.main {
	font-family: 'Quicksand', sans-serif;
	width:90%;
	font-weight: 700;
	font-size: 24px;
	margin-top: -30px;
	line-height: 35px;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 70px;
	width: 90%;
	line-height: 75px;
}

@media (max-width: 700px) {
	h1 {
		font-size: 50px;
		line-height: 55px;
	}

}

.bye {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 16px;
	padding-top: 40px;

}

a {
  text-decoration: none;
  color: black;
/*  margin: 0 4rem;*/
  transition: all .2s ease-in-out;
  display: inline-block;
}


a {
  z-index: 2;
  position: relative;
}

a:before { 
    z-index: -1;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 3px;
    transition: .3s ease;
}

a:hover:before {
    transition: .3s ease;
    height: 32px;
}

a:hover {
  color: #FFF;
}

.bh:before {
	background: #0057ff;
}

.db:before {
	background: #ea4c89;
}

.fb:before {
	background: #4267b2;
}

.tw:before {
	background: #1da1f2;
}

.inst:before {
	background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);;
}



